<template>
    <div>
        <m-header title="Movie">
        </m-header>
    </div>
</template>
<script>
import mHeader from '../../components/Header'
export default {
    name: 'movie',
    components: {
        mHeader
    }
}
</script>

