<template>
    <div class="swiper-container" :class="swipeId">
        <div class="swiper-wrapper">
            <slot name="swiper-con"></slot>
        </div>
        <!-- 如果需要分页器 -->
        <div :class="{'swiper-pagination':pagination}"></div>
    </div>
</template>
<script>
import '../assets/lib/swiper/js/swiper.js'
export default {
    props: {
        swipeId: {
            type: String,
            default: ''
        },
        loop: {
            type: Boolean,
            default: true
        },
        direction: {
            type: String,
            default: 'horizontal'
        },
        effect: {
            type: String,
            default: 'slide'
        },
        pagination: {
            type: Boolean,
            default: true 
        },
        paginationType: {
            type: String,
            default: 'bullets'
        }

    },
    mounted() {
        var That = this;
        new Swiper ('.' + That.swipeId, {
            // 是否循环
            loop: That.loop, 
            // 水平切换或者竖直切换
            direction: That.direction, 
            // 切换效果：slide,fade,coverflow,cube
            effect: That.effect,
            // 如果需要分页器
            pagination: That.pagination,
            // 分页器形式：fraction,progress,bullets
            paginationType: That.paginationType
            
        })        

    }
}
</script>
<style lang="less">
@import '../assets/lib/swiper/css/swiper.css';
</style>

