<template>
  <div>
    <m-header title="Bit Store" :bg="false">
    </m-header>
    <m-swipe swipeId="banner" effect="bullets">
        <div class="swiper-slide slide01" slot="swiper-con">slide01</div>
        <div class="swiper-slide slide02" slot="swiper-con">slide02</div>
        <div class="swiper-slide slide03" slot="swiper-con">slide03</div>
    </m-swipe>
    <mMediaCell img="https://ww3.sinaimg.cn/bmiddle/550a1b4bly1fw6nxzaqlnj22k43wj1l3.jpg">
        <span slot="title">个人意见</span>
        <span slot="describe">我们这一代人的成长年代。</span>
    </mMediaCell>
  </div>
</template>
<script>
import mHeader from '../../components/Header'
import mSwipe from '../../components/Swipe'
import mMediaCell from '../../components/MediaCell'
export default {
    name: 'home',
    components: {
        mHeader,
        mSwipe,
        mMediaCell
    },
    methods: {
        getData() {
            var api='#';
            this.axios.get(api).then((response) => {
            console.log(response.data)
            })
        }
    }
    
}
</script>
<style lang="less">
.slide01{
    background: #41b883;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: #fff;
}
.slide02{
    background: #364a60;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: #fff;
}
.slide03{
    background: #ea6f5a;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: #fff;
}
</style>
