<template>
  <div id="app">
    <router-view/>
      <m-tabbar v-model="select">
        <m-tabbar-item id='Home' isRouter>
          <img src="./assets/images/ic_tab_home_normal.png" alt="" slot="icon-normal"> 
          <img src="./assets/images/ic_tab_home_active.png" alt="" slot="icon-active"> 
          首页
        </m-tabbar-item>
        <m-tabbar-item id='Cast' isRouter>
          <img src="./assets/images/ic_tab_subject_normal.png" alt="" slot="icon-normal"> 
          <img src="./assets/images/ic_tab_subject_active.png" alt="" slot="icon-active"> 
          播客
        </m-tabbar-item>
        <m-tabbar-item id='Movie' isRouter>
          <img src="./assets/images/ic_tab_status_normal.png" alt="" slot="icon-normal"> 
          <img src="./assets/images/ic_tab_status_active.png" alt="" slot="icon-active"> 
          电影
        </m-tabbar-item>
        <m-tabbar-item id='Book' isRouter>
          <img src="./assets/images/ic_tab_group_normal.png" alt="" slot="icon-normal"> 
          <img src="./assets/images/ic_tab_group_active.png" alt="" slot="icon-active"> 
          书籍
        </m-tabbar-item>
        <m-tabbar-item id='List' isRouter>
          <img src="./assets/images/ic_tab_profile_normal.png" alt="" slot="icon-normal"> 
          <img src="./assets/images/ic_tab_profile_active.png" alt="" slot="icon-active"> 
          清单
        </m-tabbar-item>
    </m-tabbar>
  </div>
</template>

<script>
import mTabbar from './components/Tabbar'
import mTabbarItem from './components/TabbarItem'
export default {
  name: 'App',
  components: {
    mTabbar,
    mTabbarItem
  },
  data() {
    return {
      select:"Home"
    }
  }
}
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: -10px;  
}
</style>
